.nav_sidebar .toc-wrapper {
  display: none;
}

.nav_sidebar .toc-wrapper .toc-item {
  margin-bottom: 0.5rem;
}

.nav_sidebar .toc-wrapper .toc-item::after {
  content: '';
  margin: 0;
}

.nav_sidebar .toc-wrapper .toc-item > span {
    font-weight: normal !important;
    display: block;
    position: relative;
    transition: transform 0.2s ease;
}

.nav_sidebar .toc-wrapper .toc-item > span::before {
    content: '\25b6';
    position: absolute;
    left: -1.2em;
    top: 0.2em;
    font-size: 0.8em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.nav_sidebar .toc-wrapper .toc-item > span.toc-item-active {
    transform: translateX(0.9em);
}

.nav_sidebar .toc-wrapper .toc-item > span.toc-item-active::before {
    opacity: 0.75;
}

@media (min-width: 1450px) {
  .nav_sidebar .toc-wrapper {
    display: initial;
    position: absolute;
    left: 100%;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    margin-left: 1rem;
    background: transparent;
    text-align: left;
    width: 300px;
  }
}
