.downloadzines-cover {
  max-width: 160px;
  margin: 0 0.5rem 1rem;
}

.downloadzines-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.downloadzines-notes {
  font-size: 80%;
}

.downloadzines-notes > * {
  display: inline-block;
}

.downloadzines-notes > :not(:last-child)::after {
  margin: 0 10px;
  content: "·";
}

.gwu-intl-image {
  max-height: 5rem;
  margin: 0.5em auto 1em;
  display: block;
}
