.header-logo-image {
  max-height: 3.5rem;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.header-after-logo {
  display: none;
}

@media (min-width: 568px) {
  .header-after-logo {
    display: unset;
    white-space: nowrap;
  }
}

.head {
  min-height: 4rem;
  display: flex;
  align-items: center;
}

.head a {
  font-size: 1.5rem;
  text-decoration: none;
}

.head-right {
  margin-left: auto;
}

.head-right a {
  margin-left: 2rem;
}

.headroom-wrapper {
  margin-bottom: 50px;
}

.headroom {
  transition: box-shadow 0.5s ease-out;
  background-color: #eee;
}

.headroom--pinned {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
