.toc-wrapper {
  margin: 30px 0;
  padding: 20px;
  background-color: #eae0e0;
  text-align: center;
}

.toc-item {
  display: inline-block;
}

.toc-item:not(:last-child)::after {
  margin: 0 10px;
  content: "·";
}

.toc-item-active {
  font-weight: bold;
}

.toc-unionfaqs {
  font-family: "Metropolis";
  font-size: 80%;
  color: rgb(0, 0, 196);
}
