.page.unionfaqs-container {
  border-radius: 5px;
  background-color: rgb(246, 246, 255);
  box-shadow: 0 0 1px rgb(0, 0, 255);
}

.unionfaqs-container-body {
  font-family: "Liberation Mono";
}

.unionfaqs-header {
  font-weight: bold;
  color: rgb(0, 0, 196);
  margin-bottom: 0.2rem;
}
