.intro-container h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 1.6rem;
}

.intro-image {
  margin-left: 15px;
  float: right;
  max-width: 40%;
}

.intro-readzine {
  text-align: center;
}
