@font-face {
  font-family: "ProspectusS";
  src: url("./fonts/subset-ProspectusS-Reg.woff2") format("woff2"),
    url("./fonts/subset-ProspectusS-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProspectusS";
  src: url("./fonts/subset-ProspectusS-Italic.woff2") format("woff2"),
    url("./fonts/subset-ProspectusS-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ProspectusS";
  src: url("./fonts/subset-ProspectusS-Bold.woff2") format("woff2"),
    url("./fonts/subset-ProspectusS-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HKNova-MediumR";
  src: url("./fonts/subset-HKNova-MediumR.woff2") format("woff2"),
    url("./fonts/subset-HKNova-MediumR.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("./fonts/subset-LiberationMono-Bold.woff2") format("woff2"),
    url("./fonts/subset-LiberationMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("./fonts/subset-LiberationMono-Italic.woff2") format("woff2"),
    url("./fonts/subset-LiberationMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("./fonts/subset-LiberationMono-BoldItalic.woff2") format("woff2"),
    url("./fonts/subset-LiberationMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("./fonts/subset-LiberationMono.woff2") format("woff2"),
    url("./fonts/subset-LiberationMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  color: unset;
}

.flex-wrap {
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 auto;
  padding: 0 2px;
}

.page {
  margin-bottom: 20px;
  padding: 5px;
  background: rgb(252, 252, 254);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

@media (min-width: 568px) {
  .container {
    padding: 0 10px;
  }

  .page {
    padding: 50px;
  }
}

.page-content ol > li {
  margin-left: -0.5rem;
}

.page-content ol > li > * {
  margin-left: 0.5rem;
}

.page-content > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 808px) {
  .container {
    width: 800px;
  }
}

.clear {
  clear: both;
}

.flex {
  flex: 1;
}
.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.head,
h1,
h2,
h3,
h4 {
  font-family: "HKNova-MediumR";
  font-weight: normal;
}

.page > h2 {
  margin-bottom: 1em;
}

/* classes for images in markdown files */

.md-img {
  text-align: center;
}

.md-img::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: var(--offset);
  margin-right: 1px;
}

.md-img.left::before {
  float: left;
}
.md-img.right::before {
  float: right;
}

.md-img.off-1::before {
  height: 1em;
}
.md-img.off-2::before {
  height: 2em;
}
.md-img.off-3::before {
  height: 3em;
}
.md-img.off-4::before {
  height: 4em;
}
.md-img.off-5::before {
  height: 5em;
}
.md-img.off-6::before {
  height: 6em;
}
.md-img.off-7::before {
  height: 7em;
}
.md-img.off-8::before {
  height: 8em;
}
.md-img.off-9::before {
  height: 9em;
}
.md-img.off-10::before {
  height: 10em;
}

.md-img img {
  max-width: 40%;
  max-height: 400px;
  margin-bottom: 20px;
  clear: both;
}

.md-img.left img {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
}

.md-img.right img {
  float: right;
  margin-top: 10px;
  margin-left: 20px;
}

.md-img:not(.right):not(.left) img {
  max-width: 80%;
}

blockquote {
  margin: 0 0 1rem 1rem;
  font-size: 1.3em;
}

.md-attribution {
  text-align: right;
  font-size: 80%;
  margin-bottom: 1.5rem;
}
